h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: aqua;
  text-align: center;
  margin-top: 5vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mango{
  height: 20%;
  width: 25%;
  display: block;
  margin: auto;
}
.mangoOne {
  height: 20%;
  width: 25%;
  display: block;
  margin: auto;
}
button{
  background-color: goldenrod;
  padding: 1vh;
  margin-top: 5vh;
}
button:hover {
  background-color: greenyellow;
}
.instructions {
  text-align: center;
}

section {
  display: flex;
  justify-content: space-around;
  padding: 4vw;

}
