h1 {
  text-align: center;
}
body {
  background-color: aqua;
}
div {
  margin-top: 40%;
}
.game {
  position: relative;
}
.game-piece {
  position: absolute;
  height: 100px;
  width: 100px;
}
.rock {
  position: absolute;
  padding-left: 80%;
  height: 100px;
  width: 100px;
}

.instructions {
  text-align: center;
}
.score {
  text-align: right;
}
.mango{
  height: 300px;
  width: 250px;
}