h1 {
  text-align: center;
}
body {
  background-color: aqua;
}
.game {
  position: relative;
  margin-top: 40%;
}
.game-piece {
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 0px;
}
.rock {
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: -35px;
  right: 0px;
}
.ball {
  position: absolute;
  height: 100px;
  width: 100px;
}

.instructions {
  text-align: center;
}
.score {
  text-align: right;
}
.mango{
  height: 300px;
  width: 250px;
}
.game-over{
  color: red;
 opacity: 0;
}
