h1 {
  text-align: center;
}
body {
  background-image: url('background.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: rgb(86, 118, 22);
}

.game {
  position: relative;
  margin-top: 40%;
}
.game-piece {
  position: absolute;
  height: 15vh;
  width: 14vw;
  bottom: 0px;
}
.rock {
  position: absolute;
  height: 15vh;
  width: 14vw;
  bottom: -35px;
  right: 0vw;
}
.ball{
  position: absolute;
  height: 6vh;
  right: 0vw;
  bottom: 20vh;
  opacity: 0;
}
.ball2 {
  position: absolute;
  height: 6vh;
  right: 0vw;
  bottom: 20vh;
  opacity: 0;
}
.ball3{
  position: absolute;
  height: 6vh;
  right: 0vw;
  bottom: 20vh;
  opacity: 0;
}
.instructions {
  text-align: center;
}
.score {
  text-align: right;
}

.game-over{
  color: red;
  opacity: 0;
  text-align: center;
}
.scoreboard {
  display:grid;
  grid-template-columns: 20fr .2fr 1fr;
}
.score-display {
  text-align: center;
  justify-content: end;
}
.score-int {
  text-align: center;
  align-self: baseline;
  padding-left: 5px;
  justify-content: end;
}
.bonus{
  justify-content: center;
  padding-right: 50%;
}
.reset{
  margin-left: 90%;
}