h1 {
  text-align: center;
}
body {
  background-color: aqua;
  background-image: url('ground.png');
  width: 100%
}
  h3 {
    text-align: right;
  }
.game {
  position: relative;
  margin-top: 40%;
}
.game-piece {
  position: absolute;
  height: 15vh;
  width: 14vw;
  bottom: 0px;
}
.rock {
  position: absolute;
  height: 15vh;
  width: 14vw;
  bottom: -35px;
  right: 0vw;
}
.ball{
  position: absolute;
  height: 6vh;
  right: 0vw;
  bottom: 20vh;
  opacity: 0;
}
.ball2 {
  position: absolute;
  height: 6vh;
  right: 0vw;
  bottom: 20vh;
  opacity: 0;
}
.ball3{
  position: absolute;
  height: 6vh;
  right: 0vw;
  bottom: 20vh;
  opacity: 0;
}
.instructions {
  text-align: center;
}
.score {
  text-align: right;
}
.mango{
  height: 300px;
  width: 250px;
}
.game-over{
  color: red;
  opacity: 0;
  text-align: center;
}
.start-button{
  background-color: goldenrod;
}
.start-button:hover {
  background-color: greenyellow;
}
.scoreboard {
  display:flex;
  justify-content: end;
}
.score-display {
  text-align: center;
  justify-content: end;
}
.score-int {
  text-align: center;
  align-self: baseline;
  padding-left: 5px;
  justify-content: end;
}
.bonus{
  align-self: center;
  padding-right: 39vw
}
.reset{
  margin-left: 90%;
}